# This file is deliberately empty, populate the following properties before running integration tests
# USAGE_EX_RABBITMQ_HOST=
# USAGE_EX_RABBITMQ_PORT=
# USAGE_EX_RABBITMQ_VHOST=
# USAGE_EX_RABBITMQ_USERNAME=
# USAGE_EX_RABBITMQ_PASSWORD=